/*
 Theme Name:   Twenty Seventeen Child
 Theme URI:    http://gitlab.com/jonazzen/twenty-seventeen-child/
 Description:  Twenty Seventeen Child Theme
 Author:       Jonas Emil Sommer
 Author URI:   http://jonazzen.com/
 Template:     twentyseventeen
 Version:      1.1
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags: 		   one-column, two-columns, right-sidebar, flexible-header, accessibility-ready, custom-colors, custom-header, custom-menu, custom-logo, editor-style, featured-images, footer-widgets, post-formats, rtl-language-support, sticky-post, theme-options, threaded-comments, translation-ready
 Text Domain:  twenty-seventeen-child
*/
@import url("../twentyseventeen/style.css");
/* =Theme customization starts here
------------------------------------------------------- */


/* GRID */
.grid-cols-1, .grid-cols-2, .grid-cols-3, .grid-cols-4, .grid-cols-5, .grid-cols-6, .grid-cols-7, .grid-cols-8, .grid-cols-9, .grid-cols-10, .grid-cols-11 {
	float: left;
	margin: 0 2% 0 0;
}

.grid-cols-12 {	
	width: 100%;
}

.grid-cols-11 { 
	width: 91.5%; 
}
.grid-cols-10 { 
	width: 83%;
}

.grid-cols-9 { 
	width: 74.5%;
}

.grid-cols-8 { 
	width: 66%;
}

.grid-cols-7 { 
	width: 57.5%; 
}

.grid-cols-6 {
	width: 49%;
}

.grid-cols-5 {
	width: 40.5%;
}

.grid-cols-4 {
	width: 32%;
}

.grid-cols-3 { 
	width: 23.5%;
}

.grid-cols-2 {
	width: 15%;
}

.grid-cols-1 {
	width: 6.5%;
}

.last {
	margin-right: 0 !important;
}
/* GRID */